body {
  background-color: #FFF;
  color: #000;
  font-size: 14px;
}

h1, h2 {
  margin-bottom: 10px;
}

[class*="col-"] {
  color: #FFF;
  background-color: #006CFA;
  border: 1px solid #FFF;
  padding: 15px 10px;
  text-align: center;
}

[class*="col-"] > [class*="col-"] {
  background-color: #00E165;
  border: 1px solid #006CFA;
}

.double-height {
  padding: 30px 10px;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.space {
  width: 100%;
  height: 30px;
}